body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipiesImg{
  width: 150px;
}

.recipeDetails img{
  width: 150px;
}

.carousell{
  display: flex;
  width: 295px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bntStartRecipe{
  position: fixed;
  bottom: 0;
}

.imgMenor{
  width: 150px;
}
.ingredientsList{
  display: flex;
  flex-direction: column;
}

.isChecked{
  text-decoration: line-through;
}
.notChecked{
  text-decoration: none;
}